
body{
    font: 20px Arial, sans-serif; 
}
.navbar{
    background-color: #04B404;
}

.quem-somos{
    background-color: #0000FF;
    color: white; 
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.margintop{
    padding-top: 30px;
}

.parceiros{
    background-color: #FF0000;
    color: white;
}

.servicos{
    background-color: #29220A;
    color: white;
}

.bg-footer{
    background-color: black;
    color: white;
}




